
    <p class="outline" id="dateable">Dateable</p>
<p class="outline">Plan the perfect date</p>

{{!-- <a href="/dashboard">Dashboard</a> --}}
 <a href='/dashboard' class='button' style='background-color: black; color: white;'>Dashboard</a>