<h1 class="h3 mb-3 fw-normal">Signup</h1>
<fieldset>
<div class="card">
    <div class="form-floating mb-3"></div>
    <form id="signup-form" class="card-body">
        <label for="name-signup" class="form-label" placeholder="Doe246" autofocus="true">Name</label>
        <input id="name-signup" type="text" class="form-input" />

<div class="form-floating mb-3"></div>
        <label for="email-signup" class="form-label">Email</label>
        <input id="email-signup" type="text" class="form-input" />

<div class="form-floating mb-3"></div>
        <label class="form-label" for="password-signup">Password</label>
        <input id="password-signup" type="password" class="form-input" />

        <button type="submit" class="button" style="background-color: black; color: white;" >Signup!</button>
        <a class="login-link" href="/login" style="color:black;" >Log in instead</a>
    </form>
</div>


<script src="/js/signup.js"></script>
</fieldset>